@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #8E7D73;
    display: flex;
    justify-content: center; 
}

.container {
    width: 500px; 
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

header{
    background-color: white;
    margin: auto;
    width: 500px;
    height: 450px;
    background-image: url(imagens/imagemimc.png);
  
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
   
    box-shadow: 0px 5px 11px black;
}

header > h1{
    position: relative;
    top: 0px;
    color: white;
    font-size: 1.8em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.349);
}

header p{
    position: relative;
    top: 3px;
    color: white;
    font-size: 0.7em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.349);
}

header a{
    position: relative;
    top: 10px;

    text-decoration: none;
    color: white;
    background-color: #009A63;

    padding: 10px;
    border-radius: 20px;
}

main{
    margin: 10px;
   
}

section{
    
    width: 385px;
    height: 120px;
   

    padding: 20px;
    margin: auto;

    background-image: url(imagens/sauvdavel.jpg);
    background-size: cover;
    background-position: center center;

    border-radius: 20px;
}

article{
    margin: 10px;
    
}

aside{
    text-align: center;
}

aside > p{
    padding: 10px;
    text-align: center;
    color: #8E7D73;
}

p.sexo{
    text-align: center;
    padding: 10px;
}


p.sexo > label{
    padding-left: 10px;
}

/* Esconde o input padrão */
input[type="radio"] {
    display: none;
}

/* Estiliza o label como botão */
p.sexo label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F5F5F5; /* Cor do botão desativado */
    color: #8E7D73; /* Cor do texto desativado */
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

/* Quando o botão está selecionado */
input[type="radio"]:checked + label {
    background-color: #10865d; /* Cor de fundo do botão ativo */
    border: 2px solid #0e8108; /* Borda para destacar */
    color: black; /* Cor do texto ativo */
    font-weight: bold;
}

div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

div p{
    text-align: center;
    
}

div span{
    padding: 0px 30px;
    justify-content: center;

}


div input {
    margin: 5px;
    width: 134px;
    height: 30px;
    border-radius: 5px;
    
}

p.botao{
    text-align: center;
    padding: 10px;
    
}

p.botao > input{
    text-align: center;
    height: 30px;
    width: 300px;
    background-color: #009A63;
    border-radius: 10px;
    color: white;
}

div.res{
    display: none;
}

